

<!-- <img src="{{ asset('images/{{ article.image }}') }}" 
         height=33% width=33% alt="" />
-->

<!-- CSS produit.css -->

<div class="produit col-xs-6 col-sm-4 col-md-3">
  <div class="prixProd">
    {{ article.prix }}€</div>

  <div class="nomProd">
    {{ article.nom }}</div>

  <div class="descriptProd">
    {{ article.description }}</div>

  <div class="imgProd">
    image</div>

  <div class="stockProd">
    stock</div>

  bloc_boutonPanier($produit)

</div>



<!-- Ancien css:


<div class="produit col-xs-6 col-sm-4 col-md-3">
  <div class="prixProd">
    <?php echo $produit['prix']; ?>€</div>

  <div class="nomProd">
    <?php echo $produit['nom']; ?></div>

  <div class="descriptProd">
    <?php echo $produit['description']; ?></div>

  <div class="imgProd">
    <?php /* image */ ?></div>

  <div class="stockProd">
    <?php echo $produit['stock']; ?></div>

  <?php bloc_boutonPanier($produit); ?>

</div>

-->
