{% extends "::base.html.twig" %}

{% block head %}
  {% block title %}ShopmodeBundle - viewByID - {% endblock %}
  
  {% block stylesheets %}
    <!-- CSS BLZ -->
{#    <link rel="stylesheet" type="text/css" href="{{asset('css/global91.css')}}">#}
  {% endblock %}
  
{% endblock %}

{% block body %}
  <h2>vue Article</h2>
  
  {# bouton retour à la liste #}
{#  <a href="{{ app.session.get('returnButtonUrl') }}">
  <img src="{{ asset('images/') }}" alt="retour à la liste" />  </a>#}
  
  <a href="{{ app.session.get('returnButtonUrl') }}" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Retour à la liste</a>

  <table>
    <tr>
      <th>
        {# photo de l'article #}
        <img src="{{ asset('images/') }}{{ photoFileName }}" height=400px width=400px alt="" />
      </th>
      <th>
        {{ article.marque }}<br>
        {{ article.name }}<br>
        {{ article.refsite }}<br>
        {{ article.description }}<br>
        {{ article.prix }}€<br>
        ---------------<br>
        taille:<br>
        quantité:<br>
        ajouter au panier<br>
      </th>
    </tr>
    <tr>
      <td id="views_block">3 mini photos</td>
      <td id="tab_info">info</td>
    </tr>
  </table>
        
  
<form action="{{ path('dm_shopmode_panierPost') }}" method="post">
  <div class="form-group">
    <label for="quantité">Quantité:</label>
    <select class="form-control" id="article-quantité" name="quantité">
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
  
  <div class="form-group">
    <label for="taille">Taille:</label>
    <select class="form-control" id="article-taille" name="taille">
      <option>xs</option>
      <option>s</option>
      <option>m</option>
      <option>l</option>
      <option>xl</option>
    </select>
    
    <input type="hidden" name="ref"     value="{{ article.ref }}">
    <input type="hidden" name="prix"    value="{{ article.prix }}">
    <input type="hidden" name="name"    value="{{ article.name }}">
    <input type="hidden" name="marque"  value="{{ article.marque }}">
    
    <button class="btn btn-primary" type="submit">Ajouter au panier</button>

  </div>
  
{% endblock %}