
<!-- CSS produit.css -->

<div class="produit col-xs-6 col-sm-4 col-md-3">
  <div class="prixProd">
    {{ article.prix }}€</div>

  <div class="nomProd">
    {{ article.name }}</div>
    
  id:{{ article.id }} - ref:{{ article.ref }}

      <div class="imgProd">
{#        <img src="{{ asset('images/') }}{{ article.photo }}" 
             height=200px width=200px alt="" />#}

          <a href="{{path('dm_shopmode_article',{'customRef':article.ref }) }}">
            <img src="{{ asset('images/') }}{{ article.photo }}" 
             height=200px width=200px alt="" />
          </a>

      </div>

  <div class="stockProd">
    stock</div>
  
</div>
    
    
  {#  <button type="button" class="btn btn-primary">Primary</button> #}