{# empty Twig template #}
<html>
  <head>
    <title>Articles - ViewByRef</title>
  </head>
  <body>
    <h1>Articles - ViewByRef</h1>
    <br>
    {% for article in articles %}
      ID: {{ article.id }}<br>
      Ref: {{ article.ref }}<br>
      Ref_site: {{ article.refsite }}<br>
      Nom: {{ article.name }}<br>
      Marque: {{ article.marque }}<br>
      Description: {{ article.description }}<br>
      Prix: {{ article.prix }}<br>
      =========================<br>
    {% endfor %}
  </body>
</html>
