{% extends "::base.html.twig" %}

{% block head %}
  {% block title %}ShopmodeBundle - viewByID - {% endblock %}
{% block stylesheets %}{% endblock %}
{% endblock %}

{% block body %}
  {% if error == false %}
    <h2>ShopmodeBundle - viewById - Id:{{ article.id }}</h2>
    ====================================<br>
    id: {{ article.id }}<br>
    ref: {{ article.ref }}<br>
    refsite: {{ article.refsite }}<br>
    nom de catégorie: {{ article.catName }}<br>
    -----------------<br>
    nom: {{ article.name }}<br>
    marque: {{ article.marque }}<br>
    -----------------<br>
    description: {{ article.description }}<br>
    -----------------<br>  
    prix: {{ article.prix }}<br>
  {% else %}
    <h2>ShopmodeBundle - viewById</h2>
    ====================================<br>
    <h3>Erreur: {{ error }}
  {% endif %}
{% endblock %}