{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cattype</h1>

    <table class="table table-striped table-bordered">
        <tbody class="table table-striped">
            <tr>
                <th>Id</th>
                <td>{{ catType.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ catType.nom }}</td>
            </tr>
            <tr>
                <th>Ordre</th>
                <td>{{ catType.ordre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cattype_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cattype_edit', { 'id': catType.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
